body {
  overflow-x: hidden;
  position: relative;
}
.fixed-top{
  padding: 25px 0;
}
.navbar-light .navbar-toggle{
  border-color: #FFF;
}
.navbar-light .navbar-toggle:focus, .navbar-light .navbar-toggle:hover{
  background-color: #FFF;
}
.navbar-header .navbar-toggle:hover .icon-bar{
  background-color: #58cad8 !important;
  transition: 0.5s;
}
.parallax{
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../src/wallhaven-272910.jpg");
}
.parallax-2{
  width: 100%;
  display: block;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../src/wallhaven-615609.png");
}
a{
  text-decoration: none !important;
  color: #2c3e50;
}
hr{
  border-top: 1px solid rgba(255, 255, 255, 0);
}
.hr-hidden{
  color: rgba(255, 255, 255, 0);
}
.img-centered {
    margin: 0 auto;
}
.thumbnail{
  background-color: #f8f8f8;
  border: 1px solid #dadada;
}
header {
 text-align: center;
 color: #f9f9f9;
 background:  #ececec;
 padding:100px;
}
header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}
.navbar-light .navbar-toggler{
  border-color: #fff;
}
.p-thumb{
font-size: 1.2rem;
font-family:'Roboto', monospace;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 700;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    header .intro-text .name {
        font-size: 4.75em;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
    .container{
      width: auto;
    }
}
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
.btn-project{
  text-transform: uppercase;
  background-color: white;
  color: black;
}
.navbar {
    text-transform: uppercase;
    font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.navbar a:focus {
    outline: 0;
}
.navbar-light .navbar-nav > li > a:focus, .navbar-light .navbar-nav > li > a:hover{
  color: #58cad8 !important;
  transition: 0.5s;
}
.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
    outline: 0;
}
.navbar-light,
.navbar-inverse {
    border: 0;
    background: #fff !important;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.31);
}
.navbar-light .navbar-nav{
  color: #000 !important;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
  color:#fff;
}
.navbar-brand{
  color:#C5C5C5 !important;
}
.navbar-brand:hover{
  color:#58cad8 !important;
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
 .text-color{
  color: #fff;
}
.col-sm-4{
  padding-top: 180px;
}
section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}
@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
    section.first {
        padding-top: 75px;
    }
}
.col-centered{
    margin: 0 auto;
    float: none;
}
.img-thumbnail{
  border-radius:50%;
  border: none;
  background-color: inherit;
  max-width: 20%;
  border: 2px solid #fcfcfc;
}
.profile_img img{
  border-radius:50%;
}
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 20px;
}
#portfolio .portfolio-item .portfolio-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(20, 20, 20, 0.49);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
  z-index: 5;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 5;
}
.custom{
  color: #e3e3e3;
  font-family: 'segoe ui',monospace;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 16px 32px !important;
}
.custom2{
  color: #e3e3e3;
  font-family: 'segoe ui',monospace;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 16px 32px !important;
}
.custom-f{
  color: #e3e3e3;
  font-family: 'segoe ui',monospace;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding: 16px 32px !important;
}
.custom-f:before{
  content: '';
  background: #555;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 76%;
  width: 100%;
  height: 1px;
  z-index: 0;
}
.custom2:before{
  content: '';
  background: #555;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  height: 1px;
  z-index: 0;
}
.custom:before{
  content: '';
  background: #555;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  height: 1px;
  z-index: 0;
}
.sp{
  background-color: #ececec;
  color: black;
  display: inline-block;
  padding: 5px 13px;
  position: relative;
  text-transform: uppercase;
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
  z-index: 1;
}
.sp2{
  background-color: #FFF;
  color: #000;
  display: inline-block;
  padding: 5px 13px;
  position: relative;
  text-transform: uppercase;
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
  z-index: 1;
}
.navbar-brand, .ml-auto{
  padding-left: 15px;
  padding-right: 15px;
}
 .navbar-toggler{
   margin-right: 15px;
 }
.active{
  color: #58cad8 !important;
}
.nav-link:after {
  content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.nav-link:hover:after{
  width: 100%;
	background:#58cad8;
}
.collap{
  padding: 3px 0;
  transition: 0.5s;
}
.nocollap{
  padding: 25px 0;
  transition: 0.5s;
}

@media screen and (max-width: 999px) {
  p{
    font-size: 12px;
  }
  .nav-link:hover::after{
    width: 0% !important;
  }
}
@media screen and (max-width: 1024px){
  .img-thumbnail{
    max-width: 40%;
  }
  #pad{
    padding-top: 125px;
  }
  p{
    font-size: 14px;
  }
  .custom{
  }
  .col-sm-4{
      padding-top: 80px;
  }
}
@media screen and (max-width: 352px) {
  .fa-3x {
      font-size: 2em !important;
  }
}
@media (min-width:352px) and (max-width: 396px) {
  .fa-3x {
      font-size: 2.5em !important;
  }
}
@media screen and (max-width: 485px) {
  .img-thumbnail{
    max-width: 50%;
  }
  #pad{
    padding-top: 25px;
  }
  p{
    font-size: 8px;
  }
  .custom{
    width: 300px;
  }
  .col-sm-4{
      padding-top:0px;
  }
}
@media screen and (max-width: 768px) {
    .img-thumbnail{
      max-width: 50%;
    }
    #pad{
      padding-top: 25px;
    }
    p{
      font-size: 12px;
    }
    .custom{
      width: 480px;
    }
    .col-sm-4{
        padding-top: 20px;
    }
    #portfolio .portfolio-item .portfolio-link{
      max-width: unset;
    }
    iframe{
      width: 100%;
    }
    .collap, .nocollap{
      padding: 5px 0;
    }
}
@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}
@media screen and (max-width: 545px){
  .custom{
    width: unset !important;
  }
  .custom-f, .custom2{
    font-size: 20px;
  }
  .navbar-fixed-top{
    padding: 5px 0 !important;
  }
}
@media screen and (max-width: 574px){
  .zero{
    width: 100% !important;
  }
}
.btn-outline {
  margin-top: 15px;
  border: solid 2px #606060;
  font-size: 20px;
  color: #606060;
  background: 0 0;
  transition: all .3s ease-in-out;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: solid 2px #fff;
  color: #020202;
  background: #fff;
}
.btn-group-lg>.btn, .btn-lg{
  border-radius:0px;
  border-color: #333 !important;
}
.btn-success{
  background-color: #333 !important;
  border-color: #333 !important;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  font-size: 1.5em;
  background: 0 0;
  box-shadow: none!important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: .85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top .3s ease,opacity .3s ease;
  -moz-transition: top .3s ease,opacity .3s ease;
  -ms-transition: top .3s ease,opacity .3s ease;
  transition: top .3s ease,opacity .3s ease;
}
.floating-label-form-group {
  padding-left: 14px;
  border-left: 1px solid #eee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18bc9c;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee;
}
footer {
  color:#000;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color:#ececec;
}
.gradient{
  background: radial-gradient(circle, red, yellow, green);
}
footer .footer-col {
  margin-bottom: 50px;
}
.footer-col {
  margin:0 auto;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #f6f6f6;
  border-top: solid 2px #d1d1d1;
}
.footer-below a{
  color: #58cad8 !important;
  text-transform: uppercase;
  font-weight: 700;
}
.border{
  border: 3px;
  border-style: solid;
  border-color: #2d2d2d;
  border-radius: 2px;
}
.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #606060;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}
.scroll-top {
  z-index: 1049;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
}
.scroll-top .btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 28px;
}
.zero{
  padding-top: 1rem !important;
  width: 80%;
}
.color{
  color: red;
}
.scroll-top .btn:focus {
  outline: 0;
}
.portfolio-modal .modal-content {
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: .3;
}
.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  background-color: #2c3e50;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  transition: .5s ease;
}
#card1:hover .overlay {
  height: 80%;
  opacity: 1;
}
#card2:hover .overlay {
  height: 80%;
  opacity: 1;

}
#card3:hover .overlay {
  height: 80%;
  opacity: 1;

}
.card-deck{
  margin-top: 25px;
}
.text {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.btn-block{
  display: block;
  width: 90%;
}
.btn-outline-light{
  font-family: 'Roboto', monospace;
  border-radius: 0px;
  font-size: 1.2rem;
}
.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 1px;
  height: 75px;
  background-color: #2c3e50;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0;
}
.thumbnail{
  border: 3px solid #6b6b6b;
  border-radius: unset;
}
